/* ====== GLOBAL ====== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  background-color: $tertiary-color;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.fa-heart {
  color: $quaternary-color;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-float-right {
  float: right;
  margin: 0 0 0.5em 1.2em;
}

.img-float-left {
  float: left;
  margin: 0 1.2em 1.5em 0em;
}

@media only screen and (min-width: 960px) {
  .img-half {
    max-width: 50%;
  }
}