/* ====== HEADER ====== */

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  background-color: $septenary-color;
  position: relative;
  & :after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/duck.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.jumbotron {
  text-align: center;
  text-shadow: 1px 1px 0px $quinary-color;
  font-size: 1.2em;
}