$primary-color: white;
$secondary-color: #efefef;
$tertiary-color: rgb(204, 204, 204);
$quaternary-color: gold;
$quinary-color: rgb(39, 39, 39);
$senary-color: rgb(255, 240, 157);
$septenary-color: rgba(0, 0, 0, 0.3);

$font-stack: "Futura", Helvetica, Arial, sans-serif;
$base-font-size: 1.1em;